<!DOCTYPE html>
<html>
<head>
    <title>
        Rango
    </title>
</head>
<body>
    <div>
    {%if category%}
        <hi>
            <h1>{{category.name}}<br /></h1>
        </hi>
        {%if pages%}
            <ul>
            {%for page in pages%}
                <li>
                    <a href = "{{page.url}}">{{page.title}}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>
                No pages currently in category.
            </strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    </div>
    <div>
    {%if category%}
        <a href='/rango/category/{{category.slug}}/add_page/'>Add a new page.</a><br />
    {% endif %}
        <a href='/rango/'>Index<a><br />
    </div>
</body>
</html>